<div class="servers">
    <div class="servers-navbar">
        <div>
            <a href="/" class="servers-navbar__logo">
                <img src="../assets/image/orb-logo.png" alt="" style="width: 50px;">
                <h1 style="margin: 5px 0 5px 10px;">Orb: Server Manager</h1>
            </a>
            
        </div>
        <!-- <div class="buttons-nav__wrap">
            <button mat-raised-button (click)="addServer()">Add server</button>
        </div> -->
    </div>
    <div class="servers-container">
        <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">

            <ng-container *ngSwitchCase="DataState.LOADING">
                <div style="position: absolute; top: 50%; left: 50%;">
                    <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="DataState.LOADED">
                <div class="servers__wrap">
                    <table class="servers-table">
                        <thead class="servers-table__head">
                            <th class="servers-table__head-title"> </th>
                            <th class="servers-table__head-title">IP Address</th>
                            <th class="servers-table__head-title">Name</th>
                            <th class="servers-table__head-title">Memory</th>
                            <th class="servers-table__head-title">Type</th>
                            <th class="servers-table__head-title">Status</th>
                            <th class="servers-table__head-title"> </th>
                            <th class="servers-table__head-title"> </th>
                            <th class="servers-table__head-title"> </th>
                        </thead>
                        <tbody class="servers-table__body" *ngFor="let server of appState.appData.data.servers; let i = index">
                            <tr>
                                <td><i class="material-icons">storage</i></td>
                                <td>{{ server.ipAddress }}</td>
                                <td>{{ server.name }}</td>
                                <td>{{ server.memory }}</td>
                                <td>{{ server.type }}</td>
                                <td>
                                    <div *ngIf="server.status == 'SERVER_UP'; else elseBlock">
                                        <img class="status__img" src="../assets/image/orb-green.svg" alt="" width="52" height="52">
                                    </div>
                                    <ng-template #elseBlock>
                                        <img class="status__img" src="../assets/image/orb-red.svg" alt="" width="52" height="52">
                                    </ng-template>
                                </td>
                                
                                <td class="servers-table__button-wrap">
                                    <button mat-raised-button (click)="pingServer(server.ipAddress)">
                                        <i class="material-icons" *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress" title="Ping">&#xe328;</i>
                                        <i class="material-icons" *ngIf="(filterStatus$ | async) === server.ipAddress" title="Check">cached</i>
                                    </button>
                                </td>
                                 
                                <td class="servers-table__button-wrap">
                                    <button mat-raised-button (click)="deleteServer(server)">
                                        <i class="material-icons button--red">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    
                </div>
                
                
                <ng-container>
                    <div 
                    class="terminal" 
                    [ngStyle]="(viewTerminal === true) ? {'display': 'block'} : {'display': 'none'}"
                    >
                        <iframe src="http://localhost:8081/" frameborder="0" width="100%" height="300"></iframe>
                    </div>
                </ng-container>

                
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="material-icons btn-panel">add</i>
                          Add server
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div 
                        class="add-form" 
                      >
                      <form #serverForm="ngForm" (submit)="saveServer(serverForm)">
                        <div>Add server</div>
                        <div>
                            <div>
                                <label>IP</label>
                                <input type="text" name="ipAddress" ngModel class="" required>
                            </div>
                            <div>
                                <label>Name</label>
                                <input type="text" name="name" ngModel class="" required>
                            </div>
                            <div>
                                <label>Memory</label>
                                <input type="text" name="memory" ngModel class="" required>
                            </div>
                            <div>
                                <label>Type</label>
                                <input type="text" name="type" ngModel class="" required>
                            </div>
                            <div>
                                <label>Status</label>
                                <select name="status" ngModel="SERVER_DOWN" >
                                    <option value="SERVER_UP">SERVER UP</option>
                                    <option value="SERVER_DOWN">SERVER DOWN</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="submit" [disabled]="serverForm.invalid">Add</button>
                            <button type="button">Cancel</button>
                        </div>
                    </form>
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="material-icons btn-panel">featured_play_list</i>
                          Terminal
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div 
                        class="terminal" 
                      >
                        <iframe src="http://localhost:8081/" frameborder="0" width="100%" height="300"></iframe>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
            </ng-container>
        </ng-container>
    </div>
</div>